<template>
  <div>
    <BackButton />
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nama Pemegang Polis</p>
        <p class="data-value">
          {{ myPolicy.policyWithCode.policyHolder.person.firstName }}
        </p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nomor Polis</p>
        <p class="data-value">
          {{ myPolicy.policyWithCode.policyNumber }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Existing Rider Information</p>
        <p class="data-value">XX</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <v-data-table
          :headers="table.headers"
          :items="
            my_policy.policyWithCode.coverages.length > 0
              ? my_policy.policyWithCode.coverages
              : []
          "
          mobile-breakpoint="480"
          hide-default-footer
        >
          <template v-slot:item.nextPremium.sumAssured="{ item }">
            {{ $convertCurrency(item ? item.nextPremium.sumAssured : "") }}
          </template>
          <template v-slot:item.lifeInsured.insured.person="{ item }">
            {{
              item
                ? $isNullWithSpace(item.lifeInsured.insured.person.firstName) +
                  $isNullWithSpace(item.lifeInsured.insured.person.midName) +
                  $isNullWithSpace(item.lifeInsured.insured.person.lastName)
                : ""
            }}
          </template>
        </v-data-table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Rider Name wanted (PR BUAT MULTIPLE)</p>
        <div>
          <v-select
            :items="[]"
            v-model="getAddRider.product_id"
            label="Pilih Rider Name"
          ></v-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Rider Plan</p>
        <div>
          <v-select
            :items="[]"
            v-model="getAddRider.plan"
            label="Pilih Rider Plan"
          ></v-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="data-title mb-2">Pilih Tertanggung untuk Rider Baru</p>
        <v-data-table
          :headers="riderNameTable.headers"
          :items="
            my_policy.policyWithCode.coverages.length > 0
              ? my_policy.policyWithCode.coverages
              : []
          "
          v-model="getAddRider.party_ids"
          mobile-breakpoint="480"
          show-select
          hide-default-footer
        ></v-data-table>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nama Depan</p>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            v-model="getAddRider.insured.first_name"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nama Belakang</p>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            v-model="getAddRider.insured.last_name"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Kartu Identitas</p>
        <div class="form-input">
          <v-select
            :items="options.identityType"
            v-model="getAddRider.insured.identity_type"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nomor Identitas</p>
        <div class="form-input">
          <input
            type="number"
            class="form-control"
            v-model="getAddRider.insured.identity"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Hubungan dengan Tertanggung Utama</p>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            v-model="getAddRider.insured.relation"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Jenis Kelamin</p>
        <div class="form-input">
          <v-select
            :items="options.gender"
            v-model="getAddRider.insured.gender"
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Tanggal Lahir</p>
        <div class="form-input">
          <input
            type="date"
            class="form-control"
            v-model="getAddRider.insured.birth_date"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Tempat lahir</p>
        <div class="form-input">
          <input
            type="text"
            class="form-control"
            v-model="getAddRider.insured.birth_place"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Kewarganegaraan</p>
        <div class="form-input">
          <v-select
            :items="options.nationality"
            v-model="getAddRider.insured.nationality"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Status Perkawinan</p>
        <div class="form-input">
          <v-select
            :items="options.martialStatus"
            v-model="getAddRider.insured.marital_status"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Tinggi Badan (cm)</p>
        <div class="form-input">
          <input
            type="number"
            class="form-control"
            v-model="getAddRider.insured.height"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Berat Badan (kg)</p>
        <div class="form-input">
          <input
            type="number"
            class="form-control"
            v-model="getAddRider.insured.weight"
            disabled
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Apakah Merokok</p>
        <div class="form-input">
          <v-select
            :items="[
              { text: 'Iya', value: true },
              { text: 'Tidak', value: false },
            ]"
            v-model="getAddRider.insured.is_smoker"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Profesi</p>
        <div class="form-input">
          <v-select
            :items="[]"
            v-model="getAddRider.insured.occupation"
            disabled
          ></v-select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <p class="data-title mb-2">Nomor Hp</p>
        <div class="form-input">
          <input
            type="number"
            class="form-control"
            v-model="getAddRider.insured.phone_number"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="data-title mb-2">Isi Formulir Kesehatan</p>
        <button
          class="btn btn-primary-outlined"
          @click.prevent="showModalHealth = !showModalHealth"
        >
          Lihat
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p class="data-title mb-2">Unggah Foto Selfie dengan KTP</p>
        <p class="data-value">
          <button
            class="btn btn-primary-outlined"
            @click.prevent="showSelfieKtpPreview"
          >
            Lihat
          </button>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary btn-save float-right" @click="submit">
          Simpan
        </button>
      </div>
    </div>

    <ModalImagePreview
      :src="image_preview.src"
      :show="image_preview.show"
      @closeImagePreview="image_preview.show = false"
    />

    <HealthDeclarationFormModal
      :show="showModalHealth"
      :default-value="getAddRider.healthQuestionnaire"
      @submit="getAddRider.healthQuestionnaire = $event"
      @close="showModalHealth = false"
    />
  </div>
</template>

<script>
import {
  relationType,
  gender,
  identityType,
  nationality,
  martialStatus,
} from "@/utils/constant";

import { option } from "yargs";
export default {
  name: "add-rider-product-resume",
  data() {
    return {
      options: {
        relationType,
        gender,
        identityType,
        nationality,
        martialStatus,
      },
      showModalHealth: false,
      image_preview: {
        src: "",
        show: false,
      },
    };
  },
  computed: {
    myPolicy() {
      return this.$store.getters["submission_transaction/getMyPolicy"];
    },
    getAddRider() {
      return this.$store.getters[
        "submission_transaction/rider_product/getAddRider"
      ];
    },
  },
  methods: {
    showSelfieKtpPreview: function () {
      if (this.getPolicyRecovery.ktpSelfieAttachment.file) {
        this.image_preview.src = URL.createObjectURL(
          this.getPolicyRecovery.ktpSelfieAttachment.file
        );
        this.image_preview.show = true;
      }
    },
    submit: async function () {
      const result = await this.$store.dispatch(
        "submission_transaction/rider_product/addRider"
      );
      if (result && result.success == true) {
        this.$router.push({
          path: "/transaction/submission/add-rider-product/thankyou",
        });
      }
    },
  },
};
</script>
